@import "_variables";

$myBackgroundColor: #0a0d25;

.myStyles {
    background-color: $myBackgroundColor;
    color: white;
    margin-left: 0.8rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.anchorStyle {
    @extend .myStyles;
    padding: 0.45rem;
    text-decoration: none;
}

.dropbtn {
    @extend .myStyles;
    padding: 0.6rem;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    button {
        background: rgb(47, 53, 45);
        color: greenyellow;
        padding: 0.75rem 2.5rem;
        text-decoration: none;
        display: block;
      }
    button:hover {background-color: #929292}
  }
  
.dropdown:hover {
    .dropdown-content {
        display: block;
    }
    .dropbtn {
        background-color: $myBackgroundColor;
        border: 0.18rem solid black;
    }
}

.special {
    display: inline;
    color: blue;
    padding: 0rem 22rem;
    font-size: 2rem;
  }
  
.Main{
    background: url('../../../public/bgimage.jpg');
    background-size: cover;
    color: blue;
    padding: 1.17rem 0 0 0;
  }

.dataContainer {
  width: 100%;
  margin: 0 auto;
}

.dataContainer:after,
.row:after {
  content:"";
  display: table;
  clear: both;
}

[class*='col-'] {
  padding: 1em;
  width: 100%;
  min-height: 1px;
  display: inline-block;
}

.pagination {
      display: flex;
      align-items: center;
      justify-content: center;
    }

.paginationButtonStyles {
    background: #888888;
    border: none;
    padding: 10px;
    color: blue;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.prev,
.next {
    @extend .paginationButtonStyles;
    margin: 0px 10px;
}

.first,
.last {
    @extend .paginationButtonStyles;
    margin: 20px 10px;
}

.prev.disabled,
.next.disabled,
.first.disabled,
.last.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }

@media #{$breakpoint-small} {
  .container {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  } 
}

@media #{$breakpoint-medium} {
  .container {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@media #{$breakpoint-large} {
  .container {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@media #{$breakpoint-xl} {
  .container {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  } 
}

@media only screen and (max-width: 1120px){
    .special {
      padding: 0rem 21rem;
    }
  }

  @media only screen and (max-width: 1088px){
    .special {
      padding: 0rem 20rem;
    }
  }

  @media only screen and (max-width: 1056px){
    .special {
      padding: 0rem 19rem;
    }
  }

  @media only screen and (max-width: 1024px){
    .special {
      padding: 0rem 18rem;
    }
  }

  @media only screen and (max-width: 978px){
    .special {
      padding: 0rem 17rem;
    }
  }

  @media only screen and (max-width: 946px){
    .special {
      padding: 0rem 16rem;
    }
  }

  @media only screen and (max-width: 914px){
    .special {
      padding: 0rem 15rem;
    }
  }

  @media only screen and (max-width: 882px){
    .special {
      padding: 0rem 14rem;
    }
  }

  @media only screen and (max-width: 850px){
    .special {
      padding: 0rem 13rem;
    }
  }

  @media only screen and (max-width: 818px){
    .special {
      padding: 0rem 12rem;
    }
  }

  @media only screen and (max-width: 786px){
    .special {
      padding: 0rem 11rem;
    }
  }

  @media only screen and (max-width: 754px){
    .special {
      padding: 0rem 10rem;
    }
  }

  @media only screen and (max-width: 722px){
    .special {
      padding: 0rem 9rem;
    }
  }

  @media only screen and (max-width: 690px){
    .special {
      padding: 0rem 8rem;
    }
  }

  @media only screen and (max-width: 658px){
    .special {
      padding: 0rem 7rem;
    }
  }

  @media only screen and (max-width: 626px){
    .special {
      padding: 0rem 6rem;
    }
  }

  @media only screen and (max-width: 594px){
    .special {
      padding: 0rem 5rem;
    }
  }

  @media only screen and (max-width: 562px){
    .special {
      padding: 0rem 4rem;
    }
  }

  @media only screen and (max-width: 530px){
    .special {
      padding: 0rem 3rem;
    }
  }

  @media only screen and (max-width: 498px){
    .special {
      padding: 0rem 2rem;
    }
  }

  @media only screen and (max-width: 466px){
    .special {
      padding: 0rem 1rem;
    }
  }

  @media only screen and (max-width: 434px){
    .special {
      display: block;
      padding: 0rem;
    }
  }

  @media only screen and (max-width: 280px){
    .anchorStyle {
        @extend .myStyles;
        padding: 0.2rem;
        text-decoration: none;
    }
    .special {
      display: block;
      padding: 0rem;
    }
  }