.anchorStyle {
  background-color: #0a0d25;
  color: white;
  padding: 0.45rem;
  margin-left: 0.8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropbtn {
  background-color: #0a0d25;
  color: white;
  padding: 0.6rem;
  margin-left: 0.8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  background: rgb(47, 53, 45);
  color: greenyellow;
  padding: 0.75rem 2.5rem;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {background-color: #929292}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0a0d25;
  border: 0.18rem solid black;
}

.special {
  display: inline;
  color: green;
  padding: 0rem 22rem;
  font-size: 2rem;
}
.Main{
  background: url('../../../public/1567666.png');
  color: red;
  padding: 1.17rem 0 0 0;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .prev,
  .next {
    background: #888888;
    border: none;
    padding: 10px;
    color: blue;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
  }

  .first,
  .last {
    background: #888888;
    border: none;
    padding: 10px;
    color: blue;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 20px 10px;
    cursor: pointer;
  }
  
  .paginationItem.active {
    border: 3px solid rgb(50, 101, 160);
    color: rgb(255, 1, 1);
    pointer-events: none;
  }
  
  .prev.disabled,
  .next.disabled,
  .first.disabled,
  .last.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }

  @media only screen and (max-width: 1120px){
    .special {
      display: inline;
      padding: 0rem 21rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 1088px){
    .special {
      display: inline;
      padding: 0rem 20rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 1056px){
    .special {
      display: inline;
      padding: 0rem 19rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 1024px){
    .special {
      display: inline;
      padding: 0rem 18rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 978px){
    .special {
      display: inline;
      padding: 0rem 17rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 946px){
    .special {
      display: inline;
      padding: 0rem 16rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 914px){
    .special {
      display: inline;
      padding: 0rem 15rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 882px){
    .special {
      display: inline;
      padding: 0rem 14rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 850px){
    .special {
      display: inline;
      padding: 0rem 13rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 818px){
    .special {
      display: inline;
      padding: 0rem 12rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 786px){
    .special {
      display: inline;
      padding: 0rem 11rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 754px){
    .special {
      display: inline;
      padding: 0rem 10rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 722px){
    .special {
      display: inline;
      padding: 0rem 9rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 690px){
    .special {
      display: inline;
      padding: 0rem 8rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 658px){
    .special {
      display: inline;
      padding: 0rem 7rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 626px){
    .special {
      display: inline;
      padding: 0rem 6rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 594px){
    .special {
      display: inline;
      padding: 0rem 5rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 562px){
    .special {
      display: inline;
      padding: 0rem 4rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 530px){
    .special {
      display: inline;
      padding: 0rem 3rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 498px){
    .special {
      display: inline;
      padding: 0rem 2rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 466px){
    .special {
      display: inline;
      padding: 0rem 1rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 434px){
    .special {
      display: block;
      padding: 0rem;
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 280px){
    .anchorStyle {
      background-color: #0a0d25;
      color: white;
      padding: 0.2rem;
      margin-left: 0.8rem;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
    }
    .special {
      display: block;
      padding: 0rem;
      font-size: 2rem;
    }
  }