$myBackgroundColor: ##7EC8E3;

@mixin myStyles {
  background-color: $myBackgroundColor;
  color: white;
  margin-left: 0.8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  position: relative;
}

.anchorStyle {
  @include myStyles;
  padding: 0.45rem;
  text-decoration: none;
}

.special {
    display: inline;
    position: relative;
    color: #338BA8;
    padding: 0rem 22rem;
    font-size: 2rem;
  }

@media only screen and (max-width: 1120px){
    .special {
      padding: 0rem 21rem;
    }
  }

  @media only screen and (max-width: 1088px){
    .special {
      padding: 0rem 20rem;
    }
  }

  @media only screen and (max-width: 1056px){
    .special {
      padding: 0rem 19rem;
    }
  }

  @media only screen and (max-width: 1024px){
    .special {
      padding: 0rem 18rem;
    }
  }

  @media only screen and (max-width: 978px){
    .special {
      padding: 0rem 17rem;
    }
  }

  @media only screen and (max-width: 946px){
    .special {
      padding: 0rem 16rem;
    }
  }

  @media only screen and (max-width: 914px){
    .special {
      padding: 0rem 15rem;
    }
  }

  @media only screen and (max-width: 882px){
    .special {
      padding: 0rem 14rem;
    }
  }

  @media only screen and (max-width: 850px){
    .special {
      padding: 0rem 13rem;
    }
  }

  @media only screen and (max-width: 818px){
    .special {
      padding: 0rem 12rem;
    }
  }

  @media only screen and (max-width: 786px){
    .special {
      padding: 0rem 11rem;
    }
  }

  @media only screen and (max-width: 754px){
    .special {
      padding: 0rem 10rem;
    }
  }

  @media only screen and (max-width: 722px){
    .special {
      padding: 0rem 9rem;
    }
  }

  @media only screen and (max-width: 690px){
    .special {
      padding: 0rem 8rem;
    }
  }

  @media only screen and (max-width: 658px){
    .special {
      padding: 0rem 7rem;
    }
  }

  @media only screen and (max-width: 626px){
    .special {
      padding: 0rem 6rem;
    }
  }

  @media only screen and (max-width: 594px){
    .special {
      padding: 0rem 5rem;
    }
  }

  @media only screen and (max-width: 562px){
    .special {
      padding: 0rem 4rem;
    }
  }

  @media only screen and (max-width: 530px){
    .special {
      padding: 0rem 3rem;
    }
  }

  @media only screen and (max-width: 498px){
    .special {
      padding: 0rem 2rem;
    }
  }

  @media only screen and (max-width: 466px){
    .special {
      padding: 0rem 1rem;
    }
  }

  @media only screen and (max-width: 434px){
    .special {
      display: block;
      padding: 0rem;
    }
  }

  @media only screen and (max-width: 280px){
    .anchorStyle {
        @include myStyles;
        padding: 0.2rem;
        text-decoration: none;
    }
    .special {
      display: block;
      padding: 0rem;
    }
  }
