form {
    width: 100%;
    height: 21.5rem;
    h3 {
        color: #050A30;
        margin-top: 2rem;
    }
    div {
        padding: 1rem;
        label {
            color: #1DC690;
            font-size: x-large;
        }
        input {
            background-color: #D4F1F4;
        }
        input:focus {
            box-shadow: 2px 2px #ADD8E6;
        }
        a {
            color: #1DC690;
            font-size: large;
            margin: 2rem !important;
        }
    }
    button {
        margin-top: 2.2rem;
        background: #ADD8E6;
        color: #050A30;
        padding: 0.2rem 1.6rem;
        font-size: 1.5rem;
    }
    button:hover {
        background: #7EC8E3;
        cursor: pointer;
    }
}
