@import "../../sass/globalStyles";

.div1 {
    display: grid;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    div {
        background: rgb(214, 211, 211);
        height: 6vmin;
        padding: 1rem;
    }
}
