.div1 {
    display: grid;
    height: 150px;
    margin: auto;
}

.padLeft {
    padding-left: 32em;
}

@media only screen and (max-width: 599px) {
    .padLeft {
        padding-left: 13em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 850px) {
    .padLeft {
        padding-left: 26em;
    }  
}

@media only screen and (min-width: 1440px) and (max-width: 2560px) {
    .padLeft {
        padding-left: 40em;
    }
}
