@import "../../sass/grid";

@mixin blogInitial {
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 2rem 1rem;
}

.blog {
    @include blogInitial;
    width: 37%;
}

.imgResponsive {
    width: 20rem;
    height: 17rem;
}

@media only screen and (min-width: 1290px) {
    .imgResponsive {
        width: 20rem;
        height: 17rem;
    }
}

@media only screen and (max-width: 1289px) {
    .imgResponsive {
        width: 17rem;
        height: 14rem;
    }
}

@media only screen and (max-width: 1124px) {
    .imgResponsive {
        width: 15rem;
        height: 13.5rem;
    }
}

@media only screen and (max-width: 988px){
    .blog {
        width: 33%;
    }
  }

@media only screen and (max-width: 909px) {
    .imgResponsive {
        width: 12rem;
        height: 10.5rem;
    }
}
  
@media only screen and (max-width: 768px){
    .blog {
        width: 48%;
    }
    .imgResponsive {
        width: 11.5rem;
        height: 10.5rem;
    }
  }

@media only screen and (min-width: 490px) and (max-width: 767px) {
    .imgResponsive {
        width: 15.5rem;
        height: 13rem;
    }
}
  
@media only screen and (max-width: 425px){
    .blog {
        width: 65%;
    }
    .imgResponsive {
        width: 12rem;
        height: 9.5rem;
    }
  }

@media only screen and (max-width: 375px) {
    .imgResponsive {
        width: 10rem;
        height: 8.5rem;
    }
}
