@import "../../sass/grid";

@mixin blogInitial {
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 2rem 1rem;
}

.blog {
    @include blogInitial;
    width: 37%;
}

.blog:hover {
    background: rgb(112, 112, 112);
    color: black;
}

@media only screen and (max-width: 988px){
    .blog {
        width: 33%;
    }
  }
  
@media only screen and (max-width: 768px){
    .blog {
        width: 48%;
    }
  }
  
@media only screen and (max-width: 425px){
    .blog {
        width: 65%;
    }
  }
