.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    width: 37%;
    max-width: 415px;
    margin: 10px auto;
    margin-bottom: 35px;
    padding: 15px 10px;
    background: rgb(47, 53, 45);
  }

@media only screen and (max-width: 1024px){
  .blog {
    width: 37%;
  }
}

@media only screen and (max-width: 988px){
  .blog {
    width: 65%;
  }
}

@media only screen and (max-width: 768px){
  .blog {
    width: 48%;
    max-height: 400px;
  }
}

@media only screen and (max-width: 425px){
  .blog {
    width: 60%;
  }
}
