@import "_commonStyles";

.common {
    display: block;
    font-family: OpenSans-Regular;
    line-height: 1.2;
}

.displayCommon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.limiter {
    width: 100%;
    margin: 0 auto;
  }

.container-login100 {
    @extend .displayCommon;
    width: 100%;  
    min-height: 75vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url('../../../public/1567666.png');
  }

.wrap-login100 {
    width: 500px;
    background: rgb(46, 46, 46);
    border-radius: 10px;
    overflow: hidden;
  
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  }

  /*==================================================================
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    @extend .common;
    font-size: 30px;
    color: red;
    text-align: center;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    @extend .login100-form;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.wrap-input100.rs1 {
    border-top: none;
}

.input100 {
    @extend .login100-form;
    @extend .common;
    background: transparent;
    font-size: 15px;
    color: #666666;
}


/*---------------------------------------------*/
input.input100 {
    height: 68px;
    padding: 0 25px 0 25px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focusCommon {
    display: block;
    position: absolute;
}

.focus-input100-1, 
.focus-input100-2 {
    @extend .focusCommon;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100-1::before,
.focus-input100-2::before {
    @extend .focusCommon;
    content: "";
    width: 0;
    height: 1px;
    background-color: #4272d7;
}

.focus-input100-1::before {
    top: -1px;
    left: 0;
}

.focus-input100-2::before {
    bottom: -1px;
    right: 0;
}

.focus-input100-1::after,
.focus-input100-2::after {
    @extend .focusCommon;
    content: "";
    width: 1px;
    height: 0;
    background-color: #4272d7;
}

.focus-input100-1::after {
    top: 0;
    right: -1px;
}

.focus-input100-2::after {
    bottom: 0;
    left: -1px;
}

.animationCommon {
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1::before {
    @extend .animationCommon;
    -webkit-animation: full-w 0.2s linear 0s;
    animation: full-w 0.2s linear 0s;
}

.input100:focus + .focus-input100-1::after {
    @extend .animationCommon;
    -webkit-animation: full-h 0.1s linear 0.2s;
    animation: full-h 0.1s linear 0.2s;
}

.input100:focus + .focus-input100-1 + .focus-input100-2::before {
    @extend .animationCommon;
    -webkit-animation: full-w 0.2s linear 0.3s;
    animation: full-w 0.2s linear 0.3s;
}

.input100:focus + .focus-input100-1 + .focus-input100-2::after {
    @extend .animationCommon;
    -webkit-animation: full-h 0.1s linear 0.5s;
    animation: full-h 0.1s linear 0.5s;
}


@keyframes full-w {
  to {
    width: calc(100% + 1px);
  }
}

@keyframes full-h {
  to {
    height: calc(100% + 1px);
  }
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    @extend .login100-form;
    @extend .displayCommon;
    flex-wrap: wrap;
}

.login100-form-btn {
    @extend .login100-form;
    @extend .displayCommon;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #4272d7;
    
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: #333333;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    @extend .transformCommon;
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    
    right: 12px;
    pointer-events: none;
    
    font-family: OpenSans-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    
    visibility: hidden;
    opacity: 0;
    
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    @extend .transformCommon;
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    right: 18px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}