form {
    width: 100%;
    height: 25.4rem;
    div {
        padding: 1rem;
    }
    button {
        margin: 2.5rem;
        background: gray;
        color: blue;
        padding: 0.2rem 3rem;
        font-size: 1.5rem;
    }
    button:hover {
        background: #ccc;
        cursor: pointer;
    }
}
