.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  display: inline;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #f6ff7a;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

/* .App-link {
  color: #61dafb;
} */

nav {
  border: 8px solid black;
  background: gray;
  height: 10vmin;
  margin-bottom: 20px;
}
nav ul {
  list-style: none;
}
/* nav a {
  height: 10vmin;
  color: white;
  background: black;
  font-weight: bold;
  display: block;
  padding: 0px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
} */
@media (min-width: 600px) {
nav {
  display: flex;
  flex: 1 1 auto;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
