.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  display: inline;
  pointer-events: none;
}

.App-header {
  background: url("../public/1567666.png");
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

nav {
  border: 8px solid black;
  background: gray;
  height: 10vmin;
  margin-bottom: 20px;
}
nav ul {
  list-style: none;
}

@media (min-width: 600px) {
nav {
  display: flex;
  flex: 1 1 auto;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
